.about-us {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 135px;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;

    h3 {
      color: #4CAF50;
      margin-bottom: 10px;
      text-align: center;  /* Centered h3 elements */
    }

    p {
      color: #555;
      line-height: 1.6;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        color: #555;
        line-height: 1.6;
        position: relative;
        padding-left: 25px;

        &:before {
          content: '✔';
          position: absolute;
          left: 0;
          color: #4CAF50;
        }
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .easylife-team {
    text-align: center;
    color: #333;
    margin-top: 40px;
    font-size: 18px;
  }
}


  
  
  