.cart-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 135px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 32px;
      color: #333;
      margin-bottom: 20px;
    }
  
    .cart-items {
      display: flex;
      flex-direction: column;
  
      .cart-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
  
        .item-info {
          display: flex;
          flex-direction: column;
  
          p {
            font-size: 18px;
            color: #555;
            margin: 0;
          }
  
          .item-quantity {
            display: flex;
            align-items: center;
  
            label {
              margin-right: 10px;
              font-size: 16px;
              color: #777;
            }
  
            input {
              width: 50px;
              padding: 5px;
              font-size: 16px;
              border: 1px solid #ddd;
              border-radius: 5px;
            }
          }
        }
      }
  
      .checkout-button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    @media (max-width: 768px) {
      padding: 10px;
    }
  }  